/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Oswald", sans-serif;
  color: #333333;
}
a {
  text-decoration: none;
  color: #0880e8;
  transition: 0.5s ease;
}
a:hover {
  color: #2b99f8;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
}
#main {
  margin-top: 100px;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}
.section-header {
  border-bottom: 2px solid var(--color-black);
}
.section-header h2 {
  font-size: 50px;
  color: var(--color-black);
}
.section-header p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Page title
--------------------------------------------------------------*/
.page-title {
  font-size: 70px;
  color: var(--color-black);
}
/* Form Input Fields */
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #222222;
}
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn-primary {
  background-color: #ccc;
  color: #222222;
  border-color: goldenrod;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  font-family: "Teko", sans-serif;
  height: 40px;
  padding: 0;
  font-size: 18px;
  transition: all 0.5s;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  z-index: 996;
  background: #333333b6;
}
#topbar.topbar-scrolled {
  top: -50px;
}
#topbar .contact-info a {
  line-height: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}
#topbar .contact-info a:hover {
  text-decoration: underline;
}
#topbar .contact-info i {
  color: #f6b024;
  line-height: 0;
  margin-right: 5px;
}
#topbar .contact-info .phone-icon {
  margin-left: 15px;
}
#topbar .cta i {
  color: #f6b024;
  line-height: 0;
  margin-right: 5px;
}
#btn {
  font-family: "Teko", sans-serif;
  color: #fff;
  background: #f6b024;
  padding: 6px 20px 6px 20px;
  display: inline-block;
  transition: 0.3s;
  border-radius: 50px;
  margin-left: 15px;
}
#btn:hover {
  background: #3b3b3b;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(0, 0, 0, 0.384);
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  top: 40px;
}
#header.header-scrolled {
  background: rgba(35, 36, 36, 0.973);
  top: 0;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fff;
}
#header .logo a span {
  color: red;
  font-size: 25px;
}
#header .logo img {
  max-height: 40px;
}
.header-inner-pages {
  background: rgba(5, 87, 158, 0.9) !important;
}
.topbar-inner-pages {
  background: rgba(6, 98, 178, 0.9) !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.4s;
  position: relative;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #f6b024;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #fff;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgba(35, 36, 36, 0.9);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.4s;
  border-radius: 8px;
}
.navbar .dropdown ul li {
  min-width: 190px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #fff;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #f6b024;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.dropdown a img {
  margin-left: 20px;
  border: 2px solid black;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #f6b024;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(35, 36, 36, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}
.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #f6b024;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: rgba(35, 36, 36, 0.9);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #f6b024;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section - Home Page
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url("../images/2.webp") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
  z-index: 99;
  transition: 0.5s;
}
#hero:before {
  content: "";
  background: rgba(32, 40, 48, 0.719);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}
#hero p {
  width: 80%;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}
#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #f6b024;
}
#hero .btn-get-started:hover {
  background: #f6b024;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-width: 768px), (max-height: 700px) {
  #hero {
    height: 120vh;
    padding: 100px 0;
  }
  #hero h2 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000000;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-newsletter {
  padding: 40px 0;
  background: #525252;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  margin: 3px;
  background: #f6b024;
  color: #fff;
  transition: 0.5s;
  border-radius: 50px;
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #111;
}
#footer .footer-top {
  background: #222222;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 16px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.123);
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.5s;
}
#footer .footer-top .social-links a:hover {
  background: goldenrod;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: goldenrod;
  font-size: 16px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.75);
  transition: 0.5s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #fff;
  letter-spacing: 1px;
}
#footer .footer-top .footer-contact {
  margin-bottom: 10px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: goldenrod;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: goldenrod;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.5s;
}
.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.scroll-top:hover {
  background: #000;
  color: #fff;
}
.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Featured Posts
--------------------------------------------------------------*/
.img-bg {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .img-bg {
    height: 400px;
  }
}
.img-bg:before {
  position: absolute;
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
}
.img-bg .img-bg-inner {
  position: relative;
  z-index: 2;
  max-width: 700px;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .img-bg .img-bg-inner {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }
}
.img-bg .img-bg-inner h2,
.img-bg .img-bg-inner p {
  color: #fff;
}
@media (max-width: 500px) {
  .img-bg .img-bg-inner p {
    display: none;
  }
}
.custom-swiper-button-next,
.custom-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
@media (max-width: 768px) {
  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    display: none;
  }
}
.custom-swiper-button-next span,
.custom-swiper-button-prev span {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  transition: 0.3s all ease;
}
.custom-swiper-button-next:hover span,
.custom-swiper-button-next:focus span,
.custom-swiper-button-prev:hover span,
.custom-swiper-button-prev:focus span {
  color: gold;
}
.custom-swiper-button-next {
  right: 40px;
}
.custom-swiper-button-prev {
  left: 40px;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: goldenrod;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

/*--------------------------------------------------------------
# Blog Posts Section
--------------------------------------------------------------*/
.blog-posts article {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.418);
  transition: 0.3s;
}
.blog-posts .post-img img {
  transition: 0.5s;
}
.blog-posts .post-date {
  background-color: goldenrod;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: 13px;
  padding: 6px 12px;
  font-weight: 500;
}
.blog-posts .post-content {
  padding: 30px;
}
.blog-posts .post-title {
  font-size: 20px;
  color: #3a3a3a;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 15px;
}
.blog-posts .meta i {
  font-size: 16px;
  color: goldenrod;
}
.blog-posts .meta span {
  font-size: 15px;
  color: #3a3a3a;
}
.blog-posts p {
  margin-top: 20px;
  color: #000;
}
.blog-posts hr {
  color: #0665b7;
  margin-bottom: 15px;
}
.blog-posts .readmore {
  font-family: "Teko", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: #444444;
}
.blog-posts .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: 16px;
}
.blog-posts article:hover .post-title,
.blog-posts article:hover .readmore {
  color: goldenrod;
}
.blog-posts article:hover .post-img img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Blog Pagination Section
--------------------------------------------------------------*/
.blog-pagination {
  padding-top: 0;
  color: #000000;
}
.blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}
.blog-pagination li a {
  color: #222222;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-pagination li a.active,
.blog-pagination li a:hover {
  background: goldenrod;
  color: #fff;
}

/*--------------------------------------------------------------
# Side-bar
--------------------------------------------------------------*/
.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.37);
}
.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #222222;
  position: relative;
}
.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}
.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}
.blog .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}
.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #f6b024;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}
.blog .sidebar .search-form form button i {
  line-height: 0;
}
.blog .sidebar .search-form form button:hover {
  background: #f8c255;
}
.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}
.blog .sidebar .categories ul a {
  color: #0665b7;
  transition: 0.3s;
}
.blog .sidebar .categories ul a:hover {
  color: goldenrod;
}
.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #808080;
  font-size: 14px;
}
.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}
.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}
.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}
.blog .sidebar .recent-posts h4 a {
  color: #0665b7;
  transition: 0.3s;
}
.blog .sidebar .recent-posts h4 a:hover {
  color: goldenrod;
}
.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}
.blog .sidebar .tags {
  margin-bottom: -10px;
}
.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .tags ul li {
  display: inline-block;
}
.blog .sidebar .tags ul a {
  color: #0880e8;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid white;
  display: inline-block;
  transition: 0.3s;
}
.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #f6b024;
  background: #f6b024;
}
.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: white;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Single Post Page
--------------------------------------------------------------*/
/* Breadcrumbs */
.breadcrumbs {
  padding: 15px 0;
  background: #ecf6fe;
  margin-top: 110px;
}
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 600;
  color: #043c6d;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: red;
  content: "/";
}
/* Single Section */
.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
  color: #000000;
}
.blog .entry .entry-content blockquote {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-color: #e4e4e4;
  padding: 40px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
}
.blog .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #222222;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #0880e8;
}
.blog .entry .entry-footer i {
  color: goldenrod;
  display: inline;
}
.blog .entry .entry-footer a {
  color: #0665b7;
  transition: 0.3s;
}
.blog .entry .entry-footer a:hover {
  color: goldenrod;
}
.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}
.blog .entry .entry-footer .cats li {
  display: inline-block;
}
.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}
.blog .entry .entry-footer .tags li {
  display: inline-block;
}
.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}
.blog .entry .entry-footer .share {
  font-size: 16px;
}
.blog .entry .entry-footer .share i {
  padding-left: 5px;
}
.blog .entry-single {
  margin-bottom: 30px;
}
.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.274);
}
.blog .blog-author img {
  width: 120px;
  margin-right: 20px;
}
.blog .blog-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: #0665b7;
}
.blog .blog-author .social-links {
  margin: 0 10px 10px 0;
}
.blog .blog-author .social-links a {
  color: rgba(8, 128, 232, 0.5);
  margin-right: 5px;
}
.blog .blog-author p {
  font-style: italic;
  color: #222222;
}
.blog .blog-comments {
  margin-bottom: 30px;
  color: #222222;
}
.blog .blog-comments .comments-count {
  font-weight: bold;
  color: goldenrod;
}
.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}
.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}
.blog .blog-comments .comment .comment-img img {
  width: 30px;
}
.blog .blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}
.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #222222;
  transition: 0.3s;
}
.blog .blog-comments .comment h5 a:hover {
  color: goldenrod;
}
.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #0665b7;
}
.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}
.blog .blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: #2b99f8;
  margin-bottom: 5px;
}
.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
  color: #3a3a3a;
}
.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
  color: goldenrod;
}
.blog .blog-comments .reply-form p {
  font-size: 14px;
  color: #444444;
}
.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #fad386;
}
.blog .blog-comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #fad386;
}
.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}
.blog .blog-comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: goldenrod;
  transition: 0.3s;
}
.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #138df7;
}

/*--------------------------------------------------------------
# Category-Page
--------------------------------------------------------------*/
.blog {
  padding: 40px 0 20px 0;
}
.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.363);
}
.blog .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}
.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.blog .entry .entry-title a {
  color: #0665b7;
  transition: 0.3s;
}
.blog .entry .entry-title a:hover {
  color: goldenrod;
}
.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: goldenrod;
}
.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}
.blog .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.blog .entry .entry-content p {
  line-height: 24px;
  color: #272727;
}
.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}
.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: goldenrod;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}
.blog .entry .entry-content .read-more a:hover {
  background: #f7b93c;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  padding: 50px 40px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.services .icon-box i {
  float: left;
  color: #f6b024;
  font-size: 40px;
  line-height: 0;
}
.services .icon-box i {
  float: left;
  color: #f6b024;
  font-size: 40px;
  line-height: 0;
}
.services .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .icon-box h4 a {
  color: #222222;
  transition: 0.3s;
}
.services .icon-box h4 a:hover {
  color: #3b3b3b;
}
.services .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding: 140px 0;
  background: url("../images/about-bg.png") top center no-repeat;
  position: relative;
}
.about:before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.about .container {
  position: relative;
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #f6b024;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #0880e8;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #0880e8;
}
.about .content .btn-learn-more:hover {
  background: #0880e8;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 992px) {
  .about {
    padding: 60px 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background: url("../images/contact-bg.png") left center no-repeat;
  position: relative;
}
.contact:before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.contact .container {
  position: relative;
}
.contact .info {
  width: 100%;
}
.contact .info i {
  font-size: 20px;
  background: #f6b024;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #272727;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #444444;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  border: 0;
  padding: 10px 28px;
  color: #272727;
  transition: 0.4s;
  border-radius: 50px;
  border: 2px solid #f6b024;
  background: #fff;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #f6b024;
  color: #fff;
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Sign In and Out pages
--------------------------------------------------------------*/
#sign-page {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: url("../images/2.webp") no-repeat center center fixed;
  background-size: cover;
  margin-top: 40px;
  margin-bottom: 30px;
  z-index: 99;
}
#sign-page::selection {
  background: #000000;
  color: #fff;
}
.wrapper {
  width: 580px;
  background: #ffffffbd;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.562);
}
.wrapper .title {
  font-family: "teko", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(-135deg, #302f2fd2, #0e0e0dcb);
}
.wrapper form {
  padding: 10px 30px 50px 30px;
}
.wrapper form .field {
  height: 40px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid {
  border-color: #000000;
}
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #858585;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #242424;
  background: #fff;
  transform: translateY(-50%);
}
form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input {
  width: 40%;
  background: gray;
}
form .content label {
  display: inline flex;
  color: #000;
  user-select: none;
  padding-left: 22px;
}
form .content .pass-link {
  color: "";
}
form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #302f2fd2, #0e0e0dcb);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active {
  transform: scale(0.95);
}
form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a {
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 20px;
  }
  .wrapper .title {
    font-size: 28px;
    line-height: 80px;
  }
  .wrapper form {
    padding: 20px;
  }
  .wrapper form .field input {
    font-size: 16px;
    padding-left: 15px;
  }
  .wrapper form .field label {
    font-size: 15px;
  }
  form .field input[type="submit"] {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .wrapper .title {
    font-size: 24px;
    line-height: 60px;
  }
  form .field input[type="submit"] {
    font-size: 16px;
  }
}
/* Success and Error Messages */
.message {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  font-size: 1rem;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.success {
  background-color: #4caf50;
}
.error {
  background-color: #f44336;
}
/* Responsive design */
@media (max-width: 600px) {
  .message {
    font-size: 0.9rem;
    padding: 10px;
  }
}
/* Hover effect */
.message:hover {
  transform: translateY(-3px);
}
/* Add animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.message {
  animation: fadeIn 0.5s ease-in-out;
}
